

<% @total_rating = 0 %>
<% @rating_count = 0 %>

<% @product.ratings.each do |review| %>
 <% @total_rating += review.rating %>
 <% @rating_count += 1%>
 <% end %>

 <% if @rating_count > 0 %>
 <span class="average-rating">⭐ Rated <%= @total_rating / @rating_count %> out of <%= @total_rating %> by customers</span>
 <% else %>
 <span>Be the first to review this product</span>
 <% end %>